<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<%= link_to "Click here", new_article_path %> to create a new one :)

<ul>
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <li>
                <%= link_to article.title, article %>
            </li>
        <% end%>
    <% end %>
</ul>
