<h1><%= @article.title %></h1>

<article><%= @article.body %></article>

<ul>
    <li>
        <%= link_to "Edit", edit_article_path(@article) %>
    </li>
    <li>
        <%= link_to "Homepage", articles_path %>
    </li>
</ul>
